$form: 'form';

.#{$form} {
	padding: 10px;
	max-width: 300px;

	&--inline {
		position: fixed;
  	bottom: 0;
  	width: 100%;
		max-width: 100%;
		background: rgba($primary, 0.8);

		.#{$form} {
			&__input {
				float: left;
				width: 74%;
				margin: 0 1% 0 0;
			}

			&__submit {
				float: left;
				width: 25%;
				padding: 11px;
				text-align: center;
				cursor: pointer;
			}
		}
	}
	
	&__input {
		width: 100%;
		margin-bottom: 10px;
		padding: 10px;
		border: 1px solid $primary-dark;
	}

	&__select {
		margin-bottom: 10px;
	}

	&__label {
		font-family: sans-serif;
	}

	&__submit {
		padding: 10px;
		background: $primary-dark;
		color: $white;
		border: none;
		width: 100%;
		transition: 0.2s;

		&:hover {
			background-color: darken($primary-dark, 5%);
		}
	}
}