$list: 'list';

.#{$list} {

	&__item {
		border-bottom: 1px solid $gray;
		font-family: sans-serif;
		transition: background-color 0.2s;

		&:not(.track--active):hover {
			background: $light-gray;
		}
	}

	&__link {
		display: block;
		padding: 10px;
		color: $black;

		&--cta {
			color: $primary-dark;
		}
	}

	&__tag {
		font-size: 12px;
		text-transform: uppercase;
		padding: 2px 5px;
		margin-left: 5px;
		border-radius: 8px;

		&.instrumental {
			background: darken($orange, 20%);
			color: $white;
		}

		&.EDM {
			background: $green;
			color: $white;
		}

		&.pop {
			background: $red;
			color: $white;
		}
	}
}