$gray: #a2a2a2;
$dark-gray: darken($gray, 20%);
$light-gray: lighten($gray, 30%);
$white: white;
$black: black;
$red: #fc4d4d;
// Orange.
$orange: #ffddb2;

// Navy
$primary: #2f92fc;
$primary-light: rgba($primary, 0.5);
$primary-dark: #005ed1;

$magenta: #c600ff;
$green: #00bc0f;
$dark-green: darken($green, 10%);

