<!DOCTYPE html>
<html>

	<head>
	  <meta charset="utf-8">
	  <title>tunein</title>
		<script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>
		<link rel="stylesheet" type="text/css" href="./static/main.css">
	</head>

	<script>
		var config = {
      apiKey: "AIzaSyADnXp6O1y359GcjSPylVqc7-kHI1or3LI",
      authDomain: "tunein-db.firebaseapp.com",
      databaseURL: "https://tunein-db.firebaseio.com",
      projectId: "tunein-db",
      storageBucket: "",
      messagingSenderId: "529266968820"
    };

    firebase.initializeApp(config);
	</script>

	<body>
		<div id="app" style="margin: 50px 0;">
			<header class="header">
				<p class="header__heading js-header">TuneIn</p>
			</header>

			<ul class="list js-playlist"></ul>
		    <!-- <site-header v-bind:headerText="'New Playlist'"></site-header> -->
		  	<!-- <form v-on:submit.prevent="addPlaylist" class="form">
		      <label>
		        Playlist Name
		        <input v-model="playlistTitle" type="input" class="form__input">
		      </label>
		      <label>
		        Add a genre
		      	<select class="form__select" v-model="genre">
		      		<option value="rap" selected>Rap</option>
		          <option value="pop">Pop</option>
		      		<option value="EMD">EDM</option>
		          <option value="country">Country</option>
		          <option value="instrumental">Instrumental</option>
		      	</select>
		      </label>
		      <input type="submit" value="add" class="form__submit">
		    </form> -->

			<form class="form form--inline js-add-track">
				<input type="input" class="form__input" placeholder="SoundCloud URL">
				<input type="submit" value="add" class="form__submit">
			</form>
  	</div>
	</body>

	<script src="https://connect.soundcloud.com/sdk/sdk-3.2.1.js"></script>
	<script>
		SC.initialize({
			client_id: '22aa56e479e5b0a4968c22120c32bde8'
		});
	</script>
	<script src="src/components/trackItem.js" type="text/javascript"></script>
	<script src="src/components/playlist.js" type="text/javascript"></script>
</html>
